<div class="m-canvas" id="meme-canvas-view">
  <div class="m-canvas__canvas" id="meme-canvas">
    <noscript>Sorry, this tool requires a canvas-enabled browser. Try Google Chrome.</noscript>
  </div>
  <p class="m-canvas__download">
    <a href="#" download="share.png" id="meme-download">Download Image</a>
  </p>

  <p class="m-canvas__panel">If you have any questions about CardKit, or would like to offer feedback, please contact <strong>Chris Hutchinson</strong> on <a href="mailto:chris.hutchinson@thetimes.co.uk">chris.hutchinson@thetimes.co.uk</a>.</p>

  <em>Forked from <a href="https://github.com/voxmedia/meme" target="_blank">voxmedia/meme</a></em>
</div>
